@font-face {
    font-family: "Europa-Bold";
    src: url("./assets/fonts/EuropaBold.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/EuropaBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/EuropaBold.otf") format("opentype"), /* Open Type Font */
    url("./assets/fonts/EuropaBold.svg") format("svg"), /* Legacy iOS */
    url("./assets/fonts/EuropaBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./assets/fonts/EuropaBold.woff") format("woff"), /* Modern Browsers */
    url("./assets/fonts/EuropaBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Europa-BoldItalic";
    src: url("./assets/fonts/EuropaBoldItalic.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/EuropaBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/EuropaBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./assets/fonts/EuropaBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("./assets/fonts/EuropaBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./assets/fonts/EuropaBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./assets/fonts/EuropaBoldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Europa-Regular";
    src: url("./assets/fonts/EuropaRegular.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/EuropaRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/EuropaRegular.otf") format("opentype"), /* Open Type Font */
    url("./assets/fonts/EuropaRegular.svg") format("svg"), /* Legacy iOS */
    url("./assets/fonts/EuropaRegular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./assets/fonts/EuropaRegular.woff") format("woff"), /* Modern Browsers */
    url("./assets/fonts/EuropaRegular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Europa-RegularItalic";
    src: url("./assets/fonts/EuropaRegularItalic.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/EuropaRegularItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/EuropaRegularItalic.otf") format("opentype"), /* Open Type Font */
    url("./assets/fonts/EuropaRegularItalic.svg") format("svg"), /* Legacy iOS */
    url("./assets/fonts/EuropaRegularItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./assets/fonts/EuropaRegularItalic.woff") format("woff"), /* Modern Browsers */
    url("./assets/fonts/EuropaRegularItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 576px) {
    .card-deck .card {
        margin-left: 0;
    }

     .card-deck {
         margin-left: 0;
         margin-right: 0;
     }
}

body, html {
    background-color: #FEFEFE;
    margin: 0;
    padding: 0;
    font-family: 'Europa-Bold', sans-serif;
}

input {
    border-radius: 0;
}

.btn-info {
    border-color: unset;
    border-radius: 0;
}

.btn-info.disabled, .btn-info:disabled {
    border-color: unset !important;
    background-color: #D5D5D3 !important;
}

.bg-primary {
    background-color: #355263 !important;
}

 .card {
     border: none;
     background-color: #f4f7f6;
 }

 .col-sm-10 {
     max-width: 100%;
 }

.col-form-label-lg {
    padding-bottom: .7em;
}

 .form-control:focus {
     border-color: #DBE0DF;
     -webkit-box-shadow: unset;
     box-shadow: unset;
 }

.form-control-lg {
    border-radius: 0;
}

.inverse {
    color: #fff;
}

.listgroup-users {
    margin: 1em 0 1em 0;
}

.listgroup-users > .card-body {
    padding: 1em 0 1em 0;
}

.listgroup-users > .card-body ul {
    list-style: none;
    padding-left: 0;
}

.main-container {
    margin: 0 5em 0 5em;
    padding: 3em 0 3em 0;
}

.main-container__lightboard {
    margin: 0 5em 0 5em;
    padding: 3em 0 3em 0;
}

.main-container__lightboard h1 {
    margin: 3em 0 2em 0;
}

.main-container h1 {
    margin: 2.5em 0 1em 0;
}

.margin-bottom {
    margin: 0 0 2em 0;
}

.margin-bottom__thin {
    margin: 0 0 1.2em 0;
}

.margin-top {
    margin: 2em 0 0 0;
}

.margin-top .col-sm-1 {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    padding: 0 2em 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.navbar-light .navbar-brand {
    padding: 1.3em;
    color: #1F313F;
}

.navbar-light {
    background-color: #FEFEFE;
    color: rgba(0,0,0,.5) !important;
}

.sign-in-box {
    margin: 2em 0 0 0;
 }

.sign-in-box .btn-info {
    background-color: #355263;
}

.sign-in-box h3 {
    margin: 1em 0 1em 0;
    text-align: center;
}

.sign-in__errors {
    margin: 1em 0 1em 0;
}

.sign-in__logo {
    margin: 4em 2em 4em 2em;
}

.text-input {
    border: 1px solid #DBE0DF;
    height: 3.2em;
}

text-input:focus {
    outline: none;
}

.text-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DBE0DF;
    opacity: 1; /* Firefox */
}

.text-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #DBE0DF;
}

.text-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #DBE0DF;
}